.corousal {
  background: #ffffff;
  text-align: center;
  margin: auto;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 25px 23px -22px $shadow-color;

  .prev,
  .next {
    display: none;
    z-index: 200;
    cursor: pointer;
    padding: 0.5rem 1rem 1rem 1rem;
    position: absolute;
    top: 25%;
    font-weight: bold;
  }
  .prev a,
  .next a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    padding: 0 0;
    border: none;
    margin: 0 0;
    font-size: 5rem;
  }
  .prev {
    left: 1rem;
  }
  .next {
    right: 1rem;
  }
  .images {
    //width: 1000%; // will be modified by Code in case more offers are added
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;

    li {
      //  width: 10%;
      position: relative;
      float: left;
      margin-bottom: 0.4rem;

      img {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
        transform: scale(1.01);
      }
    }
  }

  &:hover .next,
  &:hover .prev {
    background-color: rgba(247, 247, 247, 0.57);
    color: black;
  }

  .slidesNavigation {
    display: flex;
    justify-content: center;
    label {
      cursor: pointer;
      margin: 0.6rem;
      display: block;
      height: 0.4rem;
      width: 0.4rem;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: solid 1px $secondary-font-color-opacity;
      font-size: 1rem;
    }
    .selected {
      background: $primary-font-color-opacity;
    }
  }
  input[type="radio"] {
    display: none;
  }
}


@media only screen and (min-width: 700px) {
  .corousal {
    &:hover .next,
    &:hover .prev {
    display: inline-block;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .corousal {
    padding-top: 0;
    margin-top: 0;
    .prev,
    .next {
    }
    .prev a,
    .next a {
    }

    .images {
      li {
        img {
          width: 70vw;
          margin-left: 0;
          margin-right: 0.5em;
          vertical-align: middle;
          transform: scale(1.01);
        }
      }
    }

    .slidesNavigation {
    
      label {
       
        margin: 0.6rem;
       
        height: 0.6rem;
        width: 0.6rem;  
      
        font-size: 1rem;
      }
      .selected {
        background: $primary-font-color-opacity;
      }
    }
  }
}
