.form__control {
  display: block;
  &__label {
    color: $form-label-color;
    font-size: 0.8rem;
    margin: 1rem 1rem 0.5rem 1rem;
    -webkit-transform: translateY(-3.8rem);
            transform: translateY(-3.8rem);
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  &__text {
    font-size: 1rem;
    width: 80%;
    border: none;
    -webkit-padding-after: 0.5rem;
            padding-block-end: 0.5rem;
    border-bottom: 2px $border-color solid;
    margin: 0rem 1rem 1rem 1rem;
    &::-webkit-input-placeholder {
      color: $primary-font-color-opacity;
      font-size: 0.8rem;
      font-weight: 400;
    }
    &:focus {
      border-bottom-color: $form-label-color;
    }
    &:focus form__control__label {
      opacity: 1;
    }
    &:placeholder-shown + .form__control__label {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-2.5rem);
              transform: translateY(-2.5rem);
    }

    &.invalid {
      border-bottom-color: $form-invalid-color;
    }
  }

  &__submit {
    margin: 0rem 1rem 0.5rem 1rem;
    width: 80%;
  }
}
