<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<dialog id="myModal" class="modal" data-id="0">
  <!-- Modal content -->
  <div class="modal-content">
    <section class="header">
      <h2>My Cart</h2>
      <h3>( <span>1</span> item )</h3>
    </section>
    <section class="cart-items">
      <ul class="cart-items__list">
        <li class="cart-items__list-item">
          <img src="../../images/products/fruit-n-veg/apple.jpg" />
          <article class="details">
            <h3>Apple is some thing 6kg</h3>
            <div class="edit__box">
              <a href="#"> <i class="material-icons"> remove_circle </i></a>
              <label>1</label>
              <a href="#"><i class="material-icons"> add_circle </i></a>
              <span>X Rs.40</span>
            </div>
          </article>
          <article class="price">Rs.<span>187</span></article>
        </li>
        <li class="cart-items__list-item">
          <img src="../../images/products/bakery-cakes-dairy/yogurt-blue.jpg" />
          <article class="details">
            <h3>Epigamia Greek Yogurt - Strawberry, 90 gm</h3>
            <div class="edit__box">
              <a href="#"> <i class="material-icons"> remove_circle </i></a>
              <label>1</label>
              <a href="#"><i class="material-icons"> add_circle </i></a>
              <span>X Rs.40</span>
            </div>
          </article>
          <article class="price">Rs.<span>40</span></article>
        </li>
        <li class="cart-items__list-item">
          <img src="../../images/products/bakery-cakes-dairy/yogurt-blue.jpg" />
          <article class="details">
            <h3>Epigamia Greek Yogurt - Strawberry, 90 gm</h3>
            <div class="edit__box">
              <a href="#"> <i class="material-icons"> remove_circle </i></a>
              <label>1</label>
              <a href="#"><i class="material-icons"> add_circle </i></a>
              <span>X Rs.40</span>
            </div>
          </article>
          <article class="price">Rs.<span>40</span></article>
       
      </ul>
      <article class="info">
       
         <div>
           <img src="../../images/lowest-price.png">
           <h4>You wont find it cheaper anywhere</h4>
         </div>
       
      </article>
    </section>

    <section class="checkout">
      <h4>Promo code can be applied at payments page</h4>
      <button class="btn">
        <span>Proceed to Checkout</span> <span> Rs 187 </span> >
      </button>
    </section>
  </div>
</dialog>
