<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<script src="../../../dist/cart.bundle.js"></script>

<dialog id="myModal" class="modal" data-id="0">
  <!-- Modal content -->
  <div class="modal-content">
    <section class="header">
      <h2>My Cart</h2>
      <h3>( <span>0</span> items )</h3>
    </section>
    <section class="cart-items">
      <ul class="cart-items__list"></ul>
      <article class="info">
        <div>
          <img src="../../images/lowest-price.png" />
          <h4>You wont find it cheaper anywhere</h4>
        </div>
      </article>
    </section>

    <section class="checkout">
      <h4>Promo code can be applied at payments page</h4>
      <button id="checkout" class="btn">
        <span>Proceed to Checkout</span> <span> Rs 187 </span> >
      </button>
    </section>
    <section class="empty--cart">
      <article class="message">
        <h3>No items in your cart</h3>
      <h4>Your favourite Items are just a click away</h4>
      </article>
      <button>Start Shopping</button>
    </section>
  </div>
</dialog>
