<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header__container"></header>
    <div id="cartContainer" data-content="false">
      <!-- SHooping Cart Will be added here-->
    </div>
    <main class="main-container util_main_content_align--centre">
      <section class="signup__section">
        <article class="signup__section__info-text">
          <h2>Login</h2>
          <h3>Get access to your orders, Wishlist and Recommendations.</h3>
        </article>
        <article class="signup__section__form">
          <form method="GET" action="./index.html">
            <input
              type="email"
              id="signup__email"
              placeholder="Email"
              class=" form__control form__control__text"
            />
            <label
              for="signup__email"
              class="form__control form__control__label"
              >Email</label
            >

            <input
              type="password"
              id="signup__password"
              placeholder="Password"
              class="form__control form__control__text"
            />
            <label
              for="signup__password"
              class="form__control form__control__label"
              >Password</label
            >

            <button
              title="login"
              id="btnSubmit"
              class=" form__control form__control__submit"
            >
              Login
            </button>

            <article class="error-area">
              <h4>Submission Criteria</h4>
              <ul>
                <li id="empty">
                  <i class="material-icons"> done </i
                  ><span> Password and Email: Should not be empty </span>
                </li>
                <li id="email">
                  <i class="material-icons"> done </i
                  ><span> Email: Should be a valid email </span>
                </li>
                <li id="length">
                  <i class="material-icons"> done </i
                  ><span> Password: Should be atleast 6 chars long </span>
                </li>
                <li id="space">
                  <i class="material-icons"> done </i
                  ><span> Password: Should not contain spaces </span>
                </li>
                <li id="regex">
                  <i class="material-icons"> done </i
                  ><span> Password: Must contain a number and a alphabet </span>
                </li>
              </ul>
            </article>
          </form>
        </article>
      </section>
    </main>
    <footer class="footer__container">
      <div class="footer util_main_content_align--centre">
        <small>
          Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplied Pvt Ltd
        </small>
      </div>
    </footer>
  </body>
</html>
