a:link,
a:visited {
  text-decoration: none;
  color:$primary-font-color;
  transition: border-bottom 0.3s;
}

a:hover,
a:active {
    text-decoration: none;
  border-bottom: 1px solid $border-color;
}
