.corousal {
  background: #ffffff;
  text-align: center;
  margin: auto;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 25px 23px -22px $shadow-color;

  .prev,
  .next {
    display: none;
    z-index: 200;
    cursor: pointer;
   
    padding: 0.5rem 1rem 1rem 1rem;
    position: absolute;
    top: 15%;
    font-weight: bold;
  }
  .prev a,
  .next a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0;
    border: none;
    margin: 0 0;
    font-size: 4rem;
  }
  .prev {
    left: 2rem;
  }
  .next {
    right: 2rem;
  }
  .images {
    width: 500%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;

    li {
      width: 20%;
      position: relative;
      float: left;
      margin-bottom: 0.4rem;

      img {
        width: 95vw;
        margin-left: 0;
        margin-right: 0.5em;
        vertical-align: middle;
        transform: scale(1.01);
      }
    }
  }

  &:hover .next,
  &:hover .prev {
    background-color: #00000062;
    color: white;
  }

  .slidesNavigation {
    display: flex;
    justify-content: center;
    label {
      cursor: pointer;
      margin: 0.6rem;
      display: block;
      height: 0.4rem;
      width: 0.4rem;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: solid 1px $secondary-font-color-opacity;
      font-size: 1rem;
    }
  }
  input[type="radio"] {
    display: none;
  }
}
#radio-1:checked ~ .images {
  transform: translateX(0%);
}
#radio-2:checked ~ .images {
  transform: translateX(-20%);
}
#radio-3:checked ~ .images {
  transform: translateX(-40%);
}
#radio-4:checked ~ .images {
  transform: translateX(-60%);
}
#radio-5:checked ~ .images {
  transform: translateX(-80%);
}
.corousal #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.corousal #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.corousal #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.corousal #radio-4:checked ~ .slidesNavigation label#dotForRadio-4,
.corousal #radio-5:checked ~ .slidesNavigation label#dotForRadio-5 {
  background: $primary-font-color-opacity;
}

@media only screen and (min-width: 700px) {
  .corousal {
    .prev,
    .next {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .corousal {
    padding-top: 0;
    margin-top: 0;
    .prev,
    .next {
    }
    .prev a,
    .next a {
    }

    .images {
      li {
        img {
          width: 50vw;
          margin-left: 0;
          margin-right: 0.5em;
          vertical-align: middle;
          transform: scale(1.01);
        }
      }
    }
  }
}
