.util_main_content_align--centre {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  background-color: $primary-background-color;
}

.util_cartbutton_clicked {
  border: 2px inset $shadow-color;
}

.util_link_selected {
  &--text {
    color: $primary-button-color-opacity !important;
    font-weight: 700 !important;
    a:hover {
      color: $primary-button-color-opacity !important;
    }
  }
}
%product_cat_row {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  align-self: center;
  box-shadow: 0px 25px 23px -22px $shadow-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    flex-basis: 30%;
    align-self: center;
    width: 40%;
    transform: scale(1.1);
  }
  .content {
    text-align: center;
    flex-basis: 70%;
    align-self: flex-start;
    font-size: 0.8rem;
    p {
      margin: 0.3rem 0;
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 700px) {
  .util_cartbutton_clicked {
    border:none;
    border-bottom: 3px inset $primary-button-color-opacity;
  }
  %product_cat_row {
    img {
      flex-basis: 40%;
      align-self: center;
      width: 35%;
    }
    .content {
      flex-basis: 60%;
      font-size: 1.2rem;
      p {
        margin: 0.3rem 0;
        padding: 0 0.5rem;
        font-size: 1.1rem;
      }
    }
  }
}

.icon-selected {
  color: white;
}

@media only screen and (min-width: 1000px) {
  %product_cat_row {
    img {
      flex-basis: 40%;
      align-self: center;
      width: 35%;
    }
    .content {
      flex-basis: 60%;
      font-size: 1.2rem;
      p {
        margin: 1rem 0;
        padding: 0 1rem;
        font-size: 1.4rem;
      }
    }
  }
}
