.header {
  &__container {
    background-color: white;
    -webkit-box-shadow: 0px 3px 11px $shadow-color;
    box-shadow: 0px 3px 11px $shadow-color;
    position: -webkit-sticky;
    position: sticky;
    padding-left: 0.1rem;
    top: 0;
    left: 0;
    z-index: 300;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__logo {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    text-align: left;
    -ms-flex-item-align: center;
    align-self: center;
    img {
      width: 50%;
      margin: 0.1rem 0;
    }
  }

  &__nav {
    display: none;
  }

  &__cart__item-count {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-grid;
    display: grid;
    cursor: pointer;
   
    padding: 0.5rem 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $secondary-background-color;
    grid-template-columns: 40% 60%;
    margin: 0 0;

    .signin {
      display: none;
    }
    .cart--toggle {
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;

      margin: 0 0;
      grid-template-columns: 40% 60%;
    }
    &--logo {
      width: 1.9rem;
      text-align: right;
      margin: 0 0.5rem;
    }
    &--value {
      font-size: 1.1rem;
      font-weight: 700;
      padding: 0.2rem 0.3rem 0 0;
    }
  }
}

@media only screen and (min-width: 370px) {
  .header {
    &__logo {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;

      img {
        width: 50%;
        margin: 0.1rem 0;
      }
    }

    &__cart__item-count {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
      &--logo {
        width: 2.1rem;
        margin: 0 0.5rem 0 0.5rem;
      }
      &--value {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: inherit;
    // box-shadow: 0px 3px 11px $shadow-color;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &__logo {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      text-align: left;
      -ms-flex-item-align: center;
      align-self: center;
      img {
        width: 75%;
        margin: 0.1rem 0;
      }
    }

    &__nav {
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
      display: inline-block;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-bottom: 1rem;

      & > ul {
        padding: 0 0;
        margin: 0 0;
        list-style: none;

        & > li {
          display: inline-block;
          margin: 0 1rem;

          & > a {
            font-weight: 700;
            font-size: 1rem;
            padding-bottom: 0.2rem;
          }
        }
      }
    }

    &__cart__item-count {
      -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
      text-align: left;
      -webkit-box-align: initial;
      -ms-flex-align: initial;
      align-items: initial;
      display: grid;
      display: -ms-grid;
      padding: 0rem 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: $secondary-background-color;
      grid-template-columns: 40% 60%;

      .signin {
        display: block;
        padding: 0.5rem 0;

        background-color: $primary-background-color;

        a {
          font-weight: 700;
          font-size: 1rem;
          padding-bottom: 0.2rem;
        }
      }

      &--logo {
        width: 1.9rem;
        text-align: right;
        -ms-flex-item-align: center;
        align-self: center;
        margin: 0.5rem 0.5rem;
      }
      &--value {
        font-size: 1.1rem;
        font-weight: 700;
        -ms-flex-item-align: center;
        align-self: center;

        padding: 0.1rem 0.3rem 0 0;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    &__logo {
    }

    &__nav {
      -ms-flex-preferred-size: 68%;
      flex-basis: 68%;

      & > ul {
        & > li {
          & > a {
            font-size: 1.2rem;
          }
        }
      }
    }

    &__cart__item-count {
      -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
    }
  }
}
