/**
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

body,
input {
  max-width: 100%;
  margin: 0 0;
  background-color: $primary-background-color;
  font-size: 12px;
  font-family: "Dosis", "sans-serif";
}

h2 {
  font-size: 1rem;
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 550px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 18px;
  }
  h2 {
    font-size: 1.5rem;
  }
}
