/*
COLOR SCHEME
*/

$border-color: #b5adad;

$primary-background-color:#fff;
$secondary-background-color:#e9e3e3;
$secondary-background-color-hover:#cec6c6;
$shadow-color:#b8b8b8;

$primary-font-color:#252424;
$primary-font-color-opacity:0.8;
$secondary-font-color:#616060;
$secondary-font-color-opacity:rgba(97, 96, 96, 0.373);


$tertiary-font-color:#b5adad;
$primary-button-color:#d12360;
$primary-button-color-opacity:rgba(209, 35, 96, 0.961);
$primary-button-font-color:#fff;

$form-label-color:rgb(52, 211, 235);
$form-invalid-color:rgb(235, 41, 41);
$form-invalid-border:rgb(186, 33, 33);


// $action-button-background:rgba(250, 249, 249, 0.2);
// $primary-button-background-hover:#839bb5;
