@import "./css/fonts/Dosis.css";
/*
COLOR SCHEME
*/
/**
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  max-width: 980px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 12px;
  font-family: "Dosis", "sans-serif";
}

h2 {
  text-transform: uppercase;
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 550px) {
  body {
    font-size: 16px;
  }
}
.corousal {
  background: #ffffff;
  text-align: center;
  margin: auto;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 25px 23px -22px #b8b8b8;
}
.corousal .prev,
.corousal .next {
  display: none;
  z-index: 200;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  font-weight: bold;
  border-radius: 10px;
}
.corousal .prev a,
.corousal .next a {
  color: rgba(116, 115, 115, 0.289);
  font-weight: bold;
  text-decoration: none;
  padding: 0 0;
  margin: 0.2rem 0;
  vertical-align: top;
  font-size: 2rem;
}
.corousal .prev {
  left: 2rem;
}
.corousal .next {
  right: 2rem;
}
.corousal .images {
  width: 500%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.corousal .images li {
  width: 20%;
  position: relative;
  float: left;
  margin-bottom: 0.4rem;
}
.corousal .images li img {
  width: 95vw;
  margin-left: 0;
  margin-right: 0.5em;
  vertical-align: middle;
  transform: scale(1.01);
}
.corousal .slidesNavigation {
  display: flex;
  justify-content: center;
}
.corousal .slidesNavigation label {
  cursor: pointer;
  margin: 0.6rem;
  display: block;
  height: 0.4rem;
  width: 0.4rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #6160605f;
  font-size: 1rem;
}
.corousal input[type=radio] {
  display: none;
}

#radio-1:checked ~ .images {
  transform: translateX(0%);
}

#radio-2:checked ~ .images {
  transform: translateX(-20%);
}

#radio-3:checked ~ .images {
  transform: translateX(-40%);
}

#radio-4:checked ~ .images {
  transform: translateX(-60%);
}

#radio-5:checked ~ .images {
  transform: translateX(-80%);
}

.corousal #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.corousal #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.corousal #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.corousal #radio-4:checked ~ .slidesNavigation label#dotForRadio-4,
.corousal #radio-5:checked ~ .slidesNavigation label#dotForRadio-5 {
  background: #252424bf;
}

@media only screen and (min-width: 700px) {
  .corousal .prev,
.corousal .next {
    display: inline-block;
  }
}
@media only screen and (min-width: 1020px) {
  .corousal {
    padding-top: 0;
    margin-top: 0;
  }
  .corousal .images li img {
    width: 50vw;
    margin-left: 0;
    margin-right: 0.5em;
    vertical-align: middle;
    transform: scale(1.01);
  }
}
a:link,
a:visited {
  text-decoration: none;
  color: #252424;
  transition: border-bottom 0.3s;
}

a:hover,
a:active {
  text-decoration: none;
  border-bottom: 1px solid #b5adad;
}

.main-container {
  margin-top: 2rem;
}

.header {
  display: flex;
  font-size: inherit;
  position: sticky;
  box-shadow: 0px 3px 11px #b8b8b8;
  justify-content: space-between;
}
.header__logo {
  flex-basis: 65%;
  text-align: left;
  align-self: center;
}
.header__logo img {
  width: 50%;
  margin: 0.1rem 0;
}
.header__nav {
  display: none;
}
.header__cart__item-count {
  flex-basis: 35%;
  text-align: center;
  align-items: center;
  display: grid;
  padding: 0.5rem 0;
  justify-content: center;
  background-color: #e9e3e3;
  grid-template-columns: 40% 60%;
}
.header__cart__item-count .signin {
  display: none;
}
.header__cart__item-count--logo {
  width: 1.9rem;
  text-align: right;
  margin: 0 0.5rem;
}
.header__cart__item-count--value {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.1rem 0.3rem 0 0;
}

@media only screen and (min-width: 370px) {
  .header__logo {
    flex-basis: 70%;
  }
  .header__logo img {
    width: 50%;
    margin: 0.1rem 0;
  }
  .header__cart__item-count {
    flex-basis: 30%;
  }
  .header__cart__item-count--logo {
    width: 2.1rem;
    margin: 0 0.5rem 0 0.5rem;
  }
  .header__cart__item-count--value {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 700px) {
  .header {
    display: flex;
    font-size: inherit;
    box-shadow: 0px 3px 11px #b8b8b8;
    justify-content: space-between;
  }
  .header__logo {
    flex-basis: 20%;
    text-align: left;
    align-self: center;
  }
  .header__logo img {
    width: 75%;
    margin: 0.1rem 0;
  }
  .header__nav {
    flex-basis: 65%;
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
  .header__nav > ul {
    padding: 0 0;
    margin: 0 0;
    list-style: none;
  }
  .header__nav > ul > li {
    display: inline-block;
    margin: 0 1rem;
  }
  .header__nav > ul > li > a {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
  .header__cart__item-count {
    flex-basis: 15%;
    text-align: center;
    align-items: initial;
    display: grid;
    padding: 0rem 0;
    justify-content: center;
    background-color: #e9e3e3;
    grid-template-columns: 40% 60%;
  }
  .header__cart__item-count .signin {
    display: block;
    padding: 0.5rem 0;
    background-color: #fff;
  }
  .header__cart__item-count .signin a {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
  .header__cart__item-count--logo {
    width: 1.9rem;
    text-align: right;
    align-self: center;
    margin: 0.5rem 0.5rem;
  }
  .header__cart__item-count--value {
    font-size: 1.1rem;
    font-weight: 700;
    align-self: center;
    padding: 0.1rem 0.3rem 0 0;
  }
}
@media only screen and (min-width: 1000px) {
  .header__nav {
    flex-basis: 68%;
  }
  .header__nav > ul > li > a {
    font-size: 1.2rem;
  }
  .header__cart__item-count {
    flex-basis: 12%;
  }
}

/*# sourceMappingURL=index.css.map */
