.main-container {
  margin-top: 1rem;
  
// min-height: 80vh;
}

.home__section__prod-cat__quicklinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  &__row {
    @extend %product_cat_row;
  }
  &__row--reverse {
    @extend %product_cat_row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
