<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sabka Bazar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../index.css"
    />
    <script src="../../../dist/home.bundle.js"></script>
  </head>
  <body>
    <header class="header__container">
      <div class="header util_main_content_align--centre" role="heading">
        <div class="header__logo">
          <img src="../../images/logo.png" alt="logo" aria-label="Logo" tabindex="1" />
        </div>
        <nav class="header__nav" role="navigation">
          <ul>
            <li aria-label="Home"><a href="#" title="Home" tabindex="2" >Home</a></li>
            <li aria-label="Products"><a href="#" title="Products" tabindex="3" >Products</a></li>
          </ul>
        </nav>
        <div class="header__cart__item-count">
          <div class="signin"><a href="#" title="SignIn" tabindex="4">SignIn</a></div>
          <div class="signin"><a href="#" title="Register" tabindex="5">Register</a></div>
          <img
            src="../../images/cart.svg"
            alt="cart item count" tabindex="6"
            class="header__cart__item-count--logo"
          />
          <div class="header__cart__item-count--value" tabindex="7">
            <span class="value">0</span> <span class="label">items</span>
          </div>
        </div>
      </div>
    </header>
    <main class="main-container util_main_content_align--centre">
      <section class="section__corousal" aria-label="offers section" tabindex="8">
        <div class="corousal">
         
              <!-- <input type="radio" name="images" id="radio-1" checked />
              <input type="radio" name="images" id="radio-2" />
              <input type="radio" name="images" id="radio-3" />
              <input type="radio" name="images" id="radio-4" />
              <input type="radio" name="images" id="radio-5" /> -->
        
        

          <ul class="images"  aria-label="offers list">
            <!-- <li id="1"><img src="../../images/offers/offer1.jpg" /></li> -->
          </ul>
          <div class="prev"><a href=""  tabindex="0">&lt;</a></div>
          <div class="next"><a href="" tabindex="0"
            >&gt;</a></div>
          <div class="slidesNavigation">
            <!-- <label for="radio-1" id="dotForRadio-1"></label>
            <label for="radio-2" id="dotForRadio-2"></label>
            <label for="radio-3" id="dotForRadio-3"></label>
            <label for="radio-4" id="dotForRadio-4"></label>
            <label for="radio-5" id="dotForRadio-5"></label> -->
          </div>
        </div>
      </section>

      <section class="home__section__prod-cat__quicklinks" tabindex="9" aria-label="Product category quick links">
        <div class="home__section__prod-cat__quicklinks__row">
          <img src="../../images/category/fruits.png" alt="Fruits" />
          <div class="content">
            <h2>Fruits & Vegetables</h2>
            <p>A variety of fresh fruits and vegetables</p>
            <button aria-label="Explore fruits and vegetables">Explore fruit-and-veg</button>
          </div>
        </div>
        <div class="home__section__prod-cat__quicklinks__row--reverse">
          <img src="../../images/category/bakery.png" alt="Cakes and Bakery" />
          <div class="content">
            <h2>Bakery Cakes and Dairy</h2>
            <p>
              The best cup-cakes, cookies, pies,cheese cakes, fresh bread,
              biscotti, muffins, bagels, fresh coffe, milk and more
            </p>
            <button aria-label="Explore bakery,cakes and dairy products">Explore bakery-cakes-dairy</button>
          </div>
        </div>
        <div class="home__section__prod-cat__quicklinks__row">
          <img src="../../images/category/beverages.png" alt="Beverages" />
          <div class="content">
            <h2>Beverages</h2>
            <p>
              Our beverage department will make sure that your fridge is always
              fully stocked. Shop for Soda, juice, beer and more
            </p>
            <button>Explore beverage</button>
          </div>
        </div>
        <div class="home__section__prod-cat__quicklinks__row--reverse">
          <img
            src="../../images/category/beauty.png"
            alt="Beauty and hygiene"
          />
          <div class="content">
            <h2>Beauty and Hygiene</h2>
            <p>
              Buy beauty and personal care products online in india at best
              prices
            </p>
            <button aria-label="Explore Beauty Hygiene products">Explore beauty-hygiene</button>
          </div>
        </div>
        <div class="home__section__prod-cat__quicklinks__row">
          <img src="../../images/category/baby.png" alt="Baby Care" />
          <div class="content">
            <h2>Baby Care</h2>
            <p>
              Shop online for Baby Products, Diapers, Skin care products, etc
            </p>
            <button aria-label="Explore Baby Care Products">Explore baby</button>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer__container">
      <div class="footer util_main_content_align--centre" >
        <small>
          Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplied Pvt Ltd
        </small>
      </div>
    </footer>
  </body>
</html>
