@import "./css/fonts/Dosis.css";
/*
COLOR SCHEME
*/
.util_main_content_align--centre {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  background-color: #fff;
}

.util_link_selected--text {
  color: #d12360f5 !important;
  font-weight: 700 !important;
}
.util_link_selected--text a:hover {
  color: #d12360f5 !important;
}

.home__section__prod-cat__quicklinks__row--reverse, .home__section__prod-cat__quicklinks__row {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  align-self: center;
  box-shadow: 0px 25px 23px -22px #b8b8b8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home__section__prod-cat__quicklinks__row--reverse img, .home__section__prod-cat__quicklinks__row img {
  flex-basis: 30%;
  align-self: center;
  width: 40%;
  transform: scale(1.1);
}
.home__section__prod-cat__quicklinks__row--reverse .content, .home__section__prod-cat__quicklinks__row .content {
  text-align: center;
  flex-basis: 70%;
  align-self: flex-start;
  font-size: 0.8rem;
}
.home__section__prod-cat__quicklinks__row--reverse .content p, .home__section__prod-cat__quicklinks__row .content p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
}

@media only screen and (min-width: 700px) {
  .home__section__prod-cat__quicklinks__row--reverse img, .home__section__prod-cat__quicklinks__row img {
    flex-basis: 40%;
    align-self: center;
    width: 35%;
  }
  .home__section__prod-cat__quicklinks__row--reverse .content, .home__section__prod-cat__quicklinks__row .content {
    flex-basis: 60%;
    font-size: 1.2rem;
  }
  .home__section__prod-cat__quicklinks__row--reverse .content p, .home__section__prod-cat__quicklinks__row .content p {
    margin: 0.3rem 0;
    padding: 0 0.5rem;
    font-size: 1.1rem;
  }
}
.icon-selected {
  color: white;
}

@media only screen and (min-width: 1000px) {
  .home__section__prod-cat__quicklinks__row--reverse img, .home__section__prod-cat__quicklinks__row img {
    flex-basis: 40%;
    align-self: center;
    width: 35%;
  }
  .home__section__prod-cat__quicklinks__row--reverse .content, .home__section__prod-cat__quicklinks__row .content {
    flex-basis: 60%;
    font-size: 1.2rem;
  }
  .home__section__prod-cat__quicklinks__row--reverse .content p, .home__section__prod-cat__quicklinks__row .content p {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 1.4rem;
  }
}
/**
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
input {
  max-width: 100%;
  margin: 0 0;
  background-color: #fff;
  font-size: 12px;
  font-family: "Dosis", "sans-serif";
}

h2 {
  font-size: 1rem;
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 550px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 700px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 1.5rem;
  }
}
.corousal {
  background: #ffffff;
  text-align: center;
  margin: auto;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 25px 23px -22px #b8b8b8;
}
.corousal .prev,
.corousal .next {
  display: none;
  z-index: 200;
  cursor: pointer;
  padding: 0.5rem 1rem 1rem 1rem;
  position: absolute;
  top: 25%;
  font-weight: bold;
}
.corousal .prev a,
.corousal .next a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  padding: 0 0;
  border: none;
  margin: 0 0;
  font-size: 5rem;
}
.corousal .prev {
  left: 1rem;
}
.corousal .next {
  right: 1rem;
}
.corousal .images {
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.corousal .images li {
  position: relative;
  float: left;
  margin-bottom: 0.4rem;
}
.corousal .images li img {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  transform: scale(1.01);
}
.corousal:hover .next, .corousal:hover .prev {
  background-color: rgba(247, 247, 247, 0.57);
  color: black;
}
.corousal .slidesNavigation {
  display: flex;
  justify-content: center;
}
.corousal .slidesNavigation label {
  cursor: pointer;
  margin: 0.6rem;
  display: block;
  height: 0.4rem;
  width: 0.4rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #6160605f;
  font-size: 1rem;
}
.corousal .slidesNavigation .selected {
  background: #252424bf;
}
.corousal input[type=radio] {
  display: none;
}

@media only screen and (min-width: 700px) {
  .corousal:hover .next, .corousal:hover .prev {
    display: inline-block;
  }
}
@media only screen and (min-width: 1020px) {
  .corousal {
    padding-top: 0;
    margin-top: 0;
  }
  .corousal .images li img {
    width: 70vw;
    margin-left: 0;
    margin-right: 0.5em;
    vertical-align: middle;
    transform: scale(1.01);
  }
  .corousal .slidesNavigation label {
    margin: 0.6rem;
    height: 0.6rem;
    width: 0.6rem;
    font-size: 1rem;
  }
  .corousal .slidesNavigation .selected {
    background: #252424bf;
  }
}
a:link,
a:visited {
  text-decoration: none;
  color: #252424;
  outline: none;
}

a:hover,
a:active {
  color: #d12360f5;
  text-decoration: none;
  border-bottom: 2px solid #b5adad;
  outline: none;
}

.footer {
  margin-top: 1rem;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.footer__container {
  background-color: #e9e3e3;
}
.footer small {
  width: 100%;
  display: inline-block;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .footer {
    margin-top: 1.5rem;
    padding: 1rem 0.5rem;
    font-size: 1rem;
  }
  .footer small {
    letter-spacing: 1px;
    word-spacing: 4px;
  }
}
button {
  font-family: inherit;
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: #d12360;
  color: #fff;
  border: 2px solid #d12360;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1em;
  box-shadow: 2px 3px 5px #b8b8b8;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  transform: translateY(-5px);
  border-bottom-color: red ease-out;
}

@media only screen and (min-width: 700px) {
  button {
    font-size: 1em;
  }
}
.main-container {
  margin-top: 1rem;
}

.home__section__prod-cat__quicklinks {
  display: flex;
  font-size: inherit;
  flex-direction: column;
  justify-content: flex-start;
}
.home__section__prod-cat__quicklinks__row--reverse {
  flex-direction: row-reverse;
}

.plp__section {
  display: flex;
  flex-direction: column;
}
.plp__section__category__filter__bar {
  display: none;
}
.plp__section__category__filter__container {
  width: 100%;
  font-weight: 400;
  background-color: #d12360;
  font-size: 1rem;
}
.plp__section__category__filter__container .filter-header {
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  height: 3rem;
  width: 100%;
}
.plp__section__category__filter__container .filter-header > .filter-name {
  position: absolute;
  left: 2rem;
  border: 1px solid #d12360;
}
.plp__section__category__filter__container .filter-header > .icon {
  position: absolute;
  right: 1rem;
}
.plp__section__category__filter__container .hidden {
  display: none;
}
.plp__section__category__filter__container .filter_list {
  z-index: 2;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  top: 3rem;
}
.plp__section__category__filter__container .filter_list > li {
  border-radius: 2px;
  color: white;
  font-weight: 700;
  height: 3rem;
  background-color: #d12360f5;
  display: block;
  border-bottom: 2px solid #c5285f;
  padding: 1rem 1rem;
  font-size: 0.8rem;
}
.plp__section__category__filter__container .filter_list > li > .filter-name {
  position: absolute;
  left: 4rem;
}
.plp__section__category__filter__container .filter_list > li > .icon {
  color: rgba(191, 13, 13, 0.624);
  position: absolute;
  left: 1rem;
}
.plp__section__category__filter__container .filter_list > li > .icon i {
  font-size: 1.5em;
}
.plp__section__products__product-row {
  margin: 1.5rem 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px dotted #b5adad;
}
.plp__section__products__product-row h2 {
  overflow: hidden;
}
.plp__section__products__product-row__content {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
}
.plp__section__products__product-row__content img {
  flex-basis: 45%;
  align-self: center;
  max-width: 150px;
  width: 45%;
}
.plp__section__products__product-row__content .button-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.plp__section__products__product-row__content .button-area > span {
  display: none;
}
.plp__section__products__product-row__content button {
  width: 100%;
}
.plp__section__products__product-row__content .details {
  flex-basis: 50%;
  font-size: 0.8rem;
}
.plp__section__products__product-row__content .details p {
  background-color: #e9e3e3;
  margin: 0.3rem 0;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2em;
  height: 9.6em;
  text-align: justify;
}

@media only screen and (min-width: 700px) {
  .plp__section {
    flex-direction: row;
  }
  .plp__section__category__filter {
    margin-top: -1rem;
    flex-basis: 20%;
    background-color: #e9e3e3;
    border-radius: 2px;
  }
  .plp__section__category__filter__container {
    display: none;
  }
  .plp__section__category__filter__bar {
    display: inline-block;
    width: 100%;
  }
  .plp__section__category__filter__bar ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
  }
  .plp__section__category__filter__bar ul li {
    color: #252424;
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0rem 0rem 0rem 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #6160605f;
    cursor: pointer;
  }
  .plp__section__category__filter__bar ul li:hover {
    color: #d12360f5;
  }
  .plp__section__products {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .plp__section__products__product-row {
    flex-basis: 47%;
    margin: 1.5rem 0.5rem 1.5rem 0.3rem;
    justify-content: flex-start;
  }
  .plp__section__products__product-row h2 {
    font-size: 1.1rem;
    text-align: center;
    height: 3rem;
  }
  .plp__section__products__product-row__content {
    display: flow-root;
    margin-top: 1rem;
  }
  .plp__section__products__product-row__content img {
    text-align: center;
    padding-right: 1rem;
    width: 150px;
    float: left;
  }
  .plp__section__products__product-row__content .details {
    font-size: 0.8rem;
  }
  .plp__section__products__product-row__content .details p {
    text-align: left;
    background-color: #e9e3e3;
    margin-left: 8.6rem;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
    font-size: 0.85rem;
    overflow: hidden;
    height: 10rem;
  }
  .plp__section__products__product-row__content .details p::after {
    clear: both;
    content: "";
    display: block;
  }
  .plp__section__products__product-row__content .details button {
    float: left;
    display: block;
    font-size: 1.1rem;
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .plp__section__category__filter__bar ul li {
    font-size: 1rem;
  }
  .plp__section__products {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
  .plp__section__products__product-row {
    margin: 1rem 0.1rem;
    min-height: 400px;
    position: relative;
    padding-left: 0.5rem;
    flex-basis: 24%;
  }
  .plp__section__products__product-row:last-of-type() {
    flex-basis: 27%;
  }
  .plp__section__products__product-row h2 {
    font-size: 1rem;
    min-height: 4rem;
    padding: 0 0;
  }
  .plp__section__products__product-row__content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .plp__section__products__product-row__content img {
    text-align: center;
    transform: scale(1.1);
    width: 100%;
  }
  .plp__section__products__product-row__content .details p {
    text-align: left;
    background-color: #e9e3e3;
    margin-left: 0;
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    overflow: hidden;
    min-height: 13rem;
  }
  .plp__section__products__product-row__content .details .button-area > span {
    display: inline-block;
    flex-basis: 50%;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }
  .plp__section__products__product-row__content .details button {
    flex-basis: 50%;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5em 0.8em;
    width: 50%;
  }
}
.header {
  display: flex;
  font-size: inherit;
  justify-content: space-between;
}
.header__container {
  background-color: white;
  box-shadow: 0px 3px 11px #b8b8b8;
  position: sticky;
  padding-left: 0.1rem;
  top: 0;
  left: 0;
  z-index: 300;
}
.header__logo {
  flex-basis: 65%;
  text-align: left;
  align-self: center;
}
.header__logo img {
  width: 50%;
  margin: 0.1rem 0;
}
.header__nav {
  display: none;
}
.header__cart__item-count {
  flex-basis: 35%;
  text-align: center;
  align-items: center;
  display: grid;
  display: -ms-grid;
  padding: 0.5rem 0;
  justify-content: center;
  background-color: #e9e3e3;
  grid-template-columns: 40% 60%;
}
.header__cart__item-count .signin {
  display: none;
}
.header__cart__item-count--logo {
  width: 1.9rem;
  text-align: right;
  margin: 0 0.5rem;
}
.header__cart__item-count--value {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.1rem 0.3rem 0 0;
}

@media only screen and (min-width: 370px) {
  .header__logo {
    flex-basis: 70%;
  }
  .header__logo img {
    width: 50%;
    margin: 0.1rem 0;
  }
  .header__cart__item-count {
    flex-basis: 30%;
  }
  .header__cart__item-count--logo {
    width: 2.1rem;
    margin: 0 0.5rem 0 0.5rem;
  }
  .header__cart__item-count--value {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 700px) {
  .header {
    display: flex;
    font-size: inherit;
    justify-content: space-between;
  }
  .header__logo {
    flex-basis: 20%;
    text-align: left;
    align-self: center;
  }
  .header__logo img {
    width: 75%;
    margin: 0.1rem 0;
  }
  .header__nav {
    flex-basis: 65%;
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
  .header__nav > ul {
    padding: 0 0;
    margin: 0 0;
    list-style: none;
  }
  .header__nav > ul > li {
    display: inline-block;
    margin: 0 1rem;
  }
  .header__nav > ul > li > a {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
  .header__cart__item-count {
    flex-basis: 15%;
    text-align: center;
    align-items: initial;
    display: grid;
    display: -ms-grid;
    padding: 0rem 0;
    justify-content: center;
    background-color: #e9e3e3;
    grid-template-columns: 40% 60%;
  }
  .header__cart__item-count .signin {
    display: block;
    padding: 0.5rem 0;
    background-color: #fff;
  }
  .header__cart__item-count .signin a {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
  .header__cart__item-count--logo {
    width: 1.9rem;
    text-align: right;
    align-self: center;
    margin: 0.5rem 0.5rem;
  }
  .header__cart__item-count--value {
    font-size: 1.1rem;
    font-weight: 700;
    align-self: center;
    padding: 0.1rem 0.3rem 0 0;
  }
}
@media only screen and (min-width: 1000px) {
  .header__nav {
    flex-basis: 68%;
  }
  .header__nav > ul > li > a {
    font-size: 1.2rem;
  }
  .header__cart__item-count {
    flex-basis: 12%;
  }
}

/*# sourceMappingURL=index.css.map */
