.SearchComponent_Container {
	padding: 0.5rem;
}

.SearchComponent_Container .label-heading {
	font-weight: 500;
	margin-right: 0.5rem;
}

.SearchComponent_Container .result {
	margin-top: 4rem;
}

.SearchComponent_Container .buttonGroup {
	margin-top: 2rem;
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.error {
	color: red;
	font-size: 0.9rem;
}
.information {
	color: #3ed93e;
}

.disabled {
	cursor: not-allowed;
}
