<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sabka Bazar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../index.css"
    />
    <script src="../../../dist/home.bundle.js"></script>
  </head>
  <body>
    <header class="header__container">
      <div class="header util_main_content_align--centre" role="heading">
        <div class="header__logo">
          <img
            src="../../images/logo.png"
            alt="logo"
            aria-label="Logo"
            tabindex="1"
          />
        </div>
        <nav class="header__nav" role="navigation">
          <ul>
            <li aria-label="Home" class="util_link_selected">
              <a
                class="util_link_selected--text"
                href="#"
                title="Home"
                tabindex="2"
                >Home</a
              >
            </li>
            <li aria-label="Products">
              <a href="../plp/index.html" title="Products" tabindex="3"
                >Products</a
              >
            </li>
          </ul>
        </nav>
        <div class="header__cart__item-count">
          <div class="signin">
            <a href="#" title="SignIn" tabindex="4">SignIn</a>
          </div>
          <div class="signin">
            <a href="#" title="Register" tabindex="5">Register</a>
          </div>
          <div class="cart--toggle">
            <img
              src="../../images/cart.svg"
              alt="cart item count"
              tabindex="6"
              class="header__cart__item-count--logo"
            />
            <div class="header__cart__item-count--value" tabindex="7">
              <span class="value">0</span> <span class="label">items</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main-container util_main_content_align--centre">
      <section
        class="section__corousal"
        aria-label="offers section"
        tabindex="8"
      >
        <div class="corousal">
          <!-- Dynamic COntent Goes here -->

          <ul class="images" aria-label="offers list">
            <!-- <li id="1"><img src="../../images/offers/offer1.jpg" /></li> -->
          </ul>
          <div class="prev"><a href="" tabindex="0">&lt;</a></div>
          <div class="next"><a href="" tabindex="0">&gt;</a></div>
          <div class="slidesNavigation"><!-- Dynamic COntent Goes here --></div>
        </div>
      </section>

      <section
        class="home__section__prod-cat__quicklinks"
        tabindex="9"
        aria-label="Product category quick links"
      >
        <!-- Dynamic COntent Goes here -->
      </section>
    </main>

    <div id="cartContainer" data-content="false">
      <!-- SHooping Cart Will be added here-->
    </div>

    <footer class="footer__container">
      <div class="footer util_main_content_align--centre">
        <small>
          Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplied Pvt Ltd
        </small>
      </div>
    </footer>
  </body>
</html>
