<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sabka Bazar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <!-- <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../index.css"
    /> -->
    <!-- <script src="../../../dist/home.bundle.js"></script> -->
  </head>
  <body>
    <header class="header__container">
     
    </header>
    <main class="main-container util_main_content_align--centre">
      <section
        class="section__corousal"
        aria-label="offers section"
        tabindex="8"
      >
        <div class="corousal">
          <!-- Dynamic COntent Goes here -->

          <ul class="images" aria-label="offers list">
            <!-- <li id="1"><img src="../../images/offers/offer1.jpg" /></li> -->
          </ul>
          <div class="prev"><a href="" tabindex="0">&lt;</a></div>
          <div class="next"><a href="" tabindex="0">&gt;</a></div>
          <div class="slidesNavigation"><!-- Dynamic COntent Goes here --></div>
        </div>
      </section>

      <section
        class="home__section__prod-cat__quicklinks"
        tabindex="9"
        aria-label="Product category quick links"
      >
        <!-- Dynamic COntent Goes here -->
      </section>
    </main>

    <div id="cartContainer" data-content="false">
      <!-- SHooping Cart Will be added here-->
    </div>

    <footer class="footer__container">
      <div class="footer util_main_content_align--centre">
        <small>
          Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplied Pvt Ltd
        </small>
      </div>
    </footer>
  </body>
</html>
