/*
COLOR SCHEME
*/

$border-color: #b5adad;

$primary-background-color:#fff;
$secondary-background-color:#e9e3e3;
$shadow-color:#b8b8b8;

$primary-font-color:#252424;
$primary-font-color-opacity:#252424bf;
$secondary-font-color:#616060;
$secondary-font-color-opacity:#6160605f;


$tertiary-font-color:#b5adad;
$primary-button-color:#d12360;
$primary-button-font-color:#fff;

// $action-button-background:rgba(250, 249, 249, 0.2);
// $primary-button-background-hover:#839bb5;
