<div class="header util_main_content_align--centre" role="heading">
    <div class="header__logo">
      <img
        src="../../images/logo.png"
        alt="logo"
        aria-label="Logo"
        tabindex="1"
      />
    </div>
    <nav class="header__nav">
      <ul>
        <li aria-label="Home" >
          <a          
            href="./index.html"
            title="Home"
            tabindex="2"
            >Home</a
          >
        </li>
        <li aria-label="Products">
          <a href="./plp.html" title="Products" tabindex="3"
            >Products</a
          >
        </li>
      </ul>
    </nav>
    <div class="header__cart__item-count">
      <div class="signin login">
        <a href="./login.html" title="SignIn" tabindex="4">SignIn</a>
      </div>
      <div class="signin register">
        <a href="./register.html" title="Register" tabindex="5">Register</a>
      </div>
      <div class="cart--toggle" title="My Cart">
        <img
          src="../../images/cart.svg"
          alt="cart item count"
          tabindex="6"
          class="header__cart__item-count--logo"
        />
        <div class="header__cart__item-count--value" tabindex="7">
          <span class="value">-99</span> <span class="label">items</span>
        </div>
      </div>
    </div>
  </div>