.main-container {
  margin-top: 1rem;
  
// min-height: 80vh;
}

.home__section__prod-cat__quicklinks {
  display: flex;
  font-size: inherit;
  flex-direction: column;
  justify-content: flex-start;
  &__row {
    @extend %product_cat_row;
  }
  &__row--reverse {
    @extend %product_cat_row;
    flex-direction: row-reverse;
  }
}
