.signup_register__section {
  margin: 0rem 0;
  background-color: $primary-background-color;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  &__info-text {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    padding: 2rem 2rem 1rem 4rem;

    h2 {
      font-size: 2rem;
      // margin :2rem 4rem 1rem 4rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
  &__form {
    padding-top: 2rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .error-area {
    margin-top: 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 1rem 0rem;
    ul {
      list-style: none;
      margin-top: 0.5rem;
      width: 300px;

      li {
        margin: 0.3rem 0;
        font-size: 0.8em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        span {
          padding-left: 0.3rem;
        }
      }
      .invalid{
          color: $form-invalid-color;
      }
    }
  }
}
